body {
  background: url('/images/bg.gif');
}

.racer_table td {
  height: 20px;
  width: 43px;
}

.visited {
  background: url('/images/rainbow.jpg') repeat-x;
}

.racer_table td.active {
  background-color: black;
}

h1{
  color: yellow;
  text-align:center;
}



#winner {
  margin: 0 auto;
  width: 100px;
}

