<form method="POST" action="/game/new">
  <input type="text" name="cat_one" placeholder="Enter player one's name">
  <input type="text" name="cat_two" placeholder="Enter player two's name">
  <input type="submit" name="submit" value="Submit">
</form>
